.post-page{
    &__title{
        text-align: center;
        font-size: 3rem;
    }

    &__image-wrapper{
        width: 60%;
        padding: 0 0 80% 0;
        overflow: hidden;
        position: relative;
        float: left;
        margin-right: 15px;
    }
    
    &__image{
        width: 100%;
        height: 100%;
        object-fit: cover;
        position: absolute;
        top: 0;
        left: 0;
    }
    
    &__text{
        font-size: 1.3rem;
    }

    &__author-info{
        display: flex;
        align-items: center;
        padding: 15px 0;
    }

    &__author-image{
        width: 50px;
        height: 50px;
        border-radius: 50%;
        margin: 0;
    }

    &__author-name{
        font-size: 1.3rem;
        margin-left: 20px;
    }
}

// @media only screen and (max-width: 600px){
//     .post-page__image-wrapper{
//         padding-bottom: 20px;
//         padding-right: 0;
//     }
// }