.post-card{
    width: 45%;
    padding: 15px;
    margin: 5px 0;
    text-decoration: none;
    color: black;

    &:hover{
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    }

    &__image-wrapper{
        display: block;
        padding: 0 0 120% 0;
        overflow: hidden;
        position: relative;
    }

    &__image{
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position:bottom;
        position: absolute;
        top: 0;
        left: 0;
    }

    &__author-info{
        display: flex;
        align-items: center;
    }

    &__author-image{
        width: 50px;
        height: 50px;
        border-radius: 50%;
        margin: 0;
    }

    &__description-label{
        cursor: pointer;
        font-size: 1.3rem;
    }

    &__description{
        visibility: hidden;
        opacity: 0;
        transition: all .1s ease;
        height: 0;
    }

    &__checkbox:checked + &__description{
        visibility: visible;
        transition: all .3s ease;
        opacity: 1;  
        height: auto;
    }

    &__author-name{
        font-size: 1.3rem;
        margin-left: 0.3em;
    }

    &__title{
        min-height: 60px;
        font-size: 1.8rem;
        cursor: pointer;
        &:hover{
            text-decoration: underline;
        }
    }

    &__tags{
        font-size: 1.3rem;
    }

    &__footer{
        display: flex;
        justify-content: space-between;
        align-items: center;
        min-height: 50px;
    }

}

@media only screen and (max-width: 652px){
    .post-card{
        width: 80%;
        &__title{
            margin: 15px 0px;
        }
    }
}