@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');


body{
  margin: 0;
  font-family: 'Josefin Sans', sans-serif;
}

.main-container{
  margin: 0 auto;
  max-width: 960px;
  padding: 0 1.0875rem 1.45rem;
}