.paginator-wrapper{
    width: 100%;
    text-align: center;

    &__pages-wrapper{
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 10px 0;
    }

    &__page-number{
        cursor: pointer;
        font-size: 1.3rem;
    }
}

.current-page{
    border: 2px solid black;
    border-radius: 3px;
}