.header{
    width: 100%;
    background: black;
    margin-bottom: 1.45rem;
    position: sticky;
    top: 0;
    z-index: 9999;
    
    &__info-wrapper{
        margin: 0 auto;
        max-width: 960px;
        padding: 1.45rem 1.0875rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    
    &__site-title{
        color: white;
        text-decoration: none;
        font-size: 3rem;
    }

    &__tagsBtn{
        border: none;
        background: none;
        outline: none;
        color: white;
        cursor: pointer;
        font-size: 1.5rem;
    }

    &__tagsBtn{
        border: none;
        background: none;
        outline: none;
        color: white;
        cursor: pointer;
        font-size: 1.5rem;
        &:hover{
            color: rgb(189, 189, 189);
        }
    }

    &__tags-wrapper{
        height: 300px;
        z-index: 2;
        visibility: visible;
        opacity: 1;
        display: flex;
        justify-content: space-around;
        flex-direction: column;
        align-items: center;
        transition: all .3s ease;
        max-width: 960px;
        margin: auto;
    }

    &__tag{
        color: white;
        text-decoration: none;
        &:hover{
            color: rgb(189, 189, 189);
        }
    }
}

.hidden{
    height: 0;
    visibility: hidden;
    opacity: 0;
    transition: all .3s ease;
}